################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
[buildout]
extensions=buildout.minitagificator
eggs-directory=../../eggs/cache
parts = part
versions = versions
[versions]
[part]
recipe = minitage.recipe.cmmi
url = ftp://ftp.remotesensing.org/pub/proj/proj-4.8.0.tar.gz
pre-configure-hook=${buildout:directory}/hooks/proj.py:h
post-make-hook=${buildout:directory}/hooks/proj.py:p
md5sum=d815838c92a29179298c126effbb1537
mapsurl=http://download.osgeo.org/proj/proj-datumgrid-1.5.zip
mapsmd5=f5bf28a2a9c6afe9a3f670f0c0adb783
cygwin-paches=${buildout:directory}cygwin.patch
